/*
	Display properties - change the display of the element

		inline - consuming the width of the content
		block - consuming the full width of the page, thus creating line space for the next element
		inline-block - works as inline elements for its siblings, but block elements outside its parent element.
			as long as the sibling elements are inline/inline-block, the inline-block elements will appear next to these elements

		none - used to hide the elements *rarely used*

*/


#div-1{
	background-color: green;
	position: sticky;
	vertical-align: top;
}

#span-1{
	background-color: purple;
	display: none;
}

#span-2{
	background-color: red;
	display: none;
}

#div-2{
	background-color: pink;
	display: inline-block;
}

#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255,105,180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

#span-sample{
	background-color: gray;
	width: 60%;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.img-float{
	width: 250px;
	height: 250px;
	float: right;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

/*
	rem - root element measurement; the measurement is relative to the root element (which is html, default 16px)

	em - element measurement; the measurement is relative to its parent element
*/

.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}


/*
	percent (%) unit is relative to its parent element
*/
.two-hundred-percent{
	font-size: 200%;
}

/*
	use the background class and refactor its element to have min-height of 100vh and background-color of gray

	send the output in google chat
*/


.background{
	min-height: 100vh;
	/*background-color: gray;*/
	/*the background immange is outsourced in the internet through the use of url() value*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);

	/*background-repeat determines whether the client/dev wants to repeat the background image should it not cover the whole container*/
	background-repeat: no-repeat;


	/*specifies the size of the background image*/
	background-size: 100%;


	/*specifies the position of the background image relative to the HTML element*/
		/*the value of this property requires two: x and y*/
		/*background-position: x-position y-position*/
	background-position: center top;


	/*background-attachement - used to set whether a background image scrolls with the rest of the page or fixed*/
	background-attachment: scroll;
}

.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	
	/*to get rid of space around the element*/
	margin: 0;
	line-height: 35rem;
}

.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

/*CSS Positioning*/
/*
	positions in CSS
		static 
			- default position for every element; this follows the normal flow of elements

		relative 
			- although it's still following the normal flow of elements, it is affected by the L,R,T,B measurements

		absolute 
			- positioned relative to its parent elements. The element is removed from the normal document flow. The other elements will behave as if the element is not in the document. No space is created for the (absolute) element.
				the element is positioned relative to its closest positioned ancestor. the parent element has to have a position value other than "static"

		fixed 
			- similar to being removed from the normal flow. it is not affected by any parent element and instead it is always ppositioned relative to the element itself.

		sticky
			- combination of relative and fixed. acts like a relatively positioned element until a certain scroll point, and then it acts like a fixed element
*/

.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
	/*position: relative; - needed for the element with absolute positioning*/
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	/*position: static; - is not affected by T,B,L,R measurements*/
	/*position: relative; - normal flow, is affected by T,B,L,R*/
	/*position: absolute; - not in normal flow, is affected by parent/ancestor's position*/
	/*position: fixed; - not in normal flow, is relative to the position of the element itself*/
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

/*html{
	height: 800vh;
}*/

.container{
	position: relative;
}


/*z-index*/
.black-box{
	position: relative;
	/*black box will be at the bottom of the stack*/
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{
	position: absolute ;
	/*gray box is above the green and black box*/
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	/*green box will be above the black box*/
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}