/*Task3 CSS Rest*/
*{
	margin: 0;
	padding: 0;
}

/*Task4 Add google font family "Open Sans*/
body{
	font-family: "Open Sans", sans-serif;
	position: relative;
}


/*Task5 Nav Section*/
nav .nav-logo{
	float: left;
	padding-left: 40px;
	padding-top: .5rem;
	margin-top: 1.3rem;

}
nav .nav{
	padding: .5rem;
	margin-top: .3rem;
	margin-bottom: .5rem;
	list-style-type: none;
	display: inline-block;
	text-align: right;
	font-weight: bold;
}

body nav{
	z-index: 10;
	background-color: white;
	position: sticky;
	top: 0px;
}

/*Task6*/
nav .tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border: 1px solid #c2195b;
	font-size: .8rem;
	padding: 1rem;
	position: relative;
	bottom: 2px;
}


.right-nav{
	right: 0px;
	padding-left: 35vw;
	padding-top: .5rem;
	border-bottom: 1px solid gray;

}

/*task7*/
#bg-image{
	background-image: url( https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 400px;
	max-height: 400px;
	background-position: top right;

}

/*task8*/
.front-bg{
	min-height: 400px;
	background-color: black;
	opacity: 75%;
	color: white;
}

/*task9*/
.title, .title-2{
	font-family: "Zilla Slab", serif;
	font-size: 2rem;
	padding-top: 50px;
	padding-bottom: 20px;
}

.container{
	padding-left: 55vw;
	padding-right: 5vw;
	text-align: right;
}

.subtitle{
	margin-top: 20px;
	margin-bottom: 20px;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border: 1px solid #c2195b;
	font-size: .8rem;
	padding: .5rem 2rem;
	position: relative;
	bottom: 2px;
}


/*Intro Section*/
.intro{
	text-align: center;
	margin: 10px 5vw 10px;
	padding-bottom: 5vh;
}

/*pre-footer section*/
/*task 10*/

.pre-footer{
	text-align: center;
	background-color: #f7fbfb;
	padding: 0px 5vw;
	padding-bottom: 5vh;
}

/*task 11*/
.book-button{
	margin-top: 20px;
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	border: 1px solid #336589;
	font-size: .8rem;
	padding: .5rem 3rem;
	position: relative;
	bottom: 2px;
}

/*task 12*/
footer{
	text-align: center;
}